body {
    background-color: #e0e1dd;
}

.content {
    width: 1320px;
    float: none;
    margin: 0 auto;
}

.table {
  border: 1px solid #C7C9C2;
}

th, td {
    background-color: #FFFFFF;
    border: 1px solid #C7C9C2;
}

.tile{
    width:400px;
    height:120px;
    display: table-cell;
    width: 30%;
    padding-left: 10px;
    padding-right: 30px;
}

.spacer{
    width: 3%;
    display: table-cell;

}

.tile-container{
    display: table;
    width: 1320px;
}
.orange-tile {
    background-color: #FF5800;
}
.green-tile{
    background-color: #41A940;
}
.grey-tile{
    background-color: #4D4F53;
}